body {
   font-family: 'Open Sans', sans-serif;
}



.longboat {
   color: #8c8d8f;
   font-size: 50px;
   width: 100%;
   margin: 0px;
}

.title {
   font-family: 'Roboto', sans-serif;
}

h1 article {
   font-size: 100px;
   width: 100%;
   margin: 0px;
   font-family: Georgia, 'Times New Roman', Times, serif;

}

aside {
   width: 200px;
}

main {
   width: 600px;
}

figure {
   margin: 2px 0px;
}
